<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shorts - Ethan Hampton</title>
    <style>
        body {
            margin: 40px auto;
            max-width: 650px;
            line-height: 1.6;
            font-size: 18px;
            color: #444;
            padding: 0 10px
        }

        h1, h2, h3 {
            line-height: 1.2
        }

        .short {
            padding: 0.5em 0;
        }
    </style>
    <script async defer data-website-id="2ffd08f8-6804-46f5-8bad-99e2d5406d84" src="https://stats.ethohampton.com/stats.js"></script>
</head>
<body>
{{ range .Shorts }}
    <article class="short" id="{{ .ID }}">
        <header>
            <h2>{{ .Title }} - <a href="#{{ .ID }}">{{ .ID }}</a></h2>
        </header>
        {{ .Content | formatContent}}
        <footer>
            <time datetime="{{ .ReleaseDate.Format "2006-01-02T15:04:05Z07:00" }}">Published {{ .ReleaseDate.Format "Mon, 02 Jan 2006 15:04 MST" }}</time>
        </footer>
    </article>
{{ end }}
</body>
</html>